In [1]:
import os

seed            = 1
project_name    = "valuesets"

ra_folder       = os.getenv("RESEARCH_ANALYTICS_PATH")
project_path    = os.path.join( ra_folder, "projects", project_name )
prepare_path    = os.path.join(project_path, "src", "prepare.py")

exec(open(prepare_path).read(), globals())

In [2]:

from IPython.display import display, HTML, clear_output
import pandas as pd

pd.options.display.max_columns=100
pd.options.display.max_rows=1000

%reload_ext autoreload
%autoreload 2
%matplotlib inline

settings, secrets = prepare_all(ra_folder, project_path, seed)

In [3]:
import gspread
from oauth2client.service_account import ServiceAccountCredentials

In [4]:
scope = ['https://spreadsheets.google.com/feeds']
credentials = ServiceAccountCredentials.from_json_keyfile_name('./valuesets-02dce378749e.json', scope)
gc = gspread.authorize(credentials)

In [7]:
spreadsheet_key = "1nQyNln5cG8NVAjyE-rnMbw07zLlaCDPCmFo1NGQZHrg"
book = gc.open_by_key(spreadsheet_key)
worksheet = book.worksheet("Template")
table = worksheet.get_all_values()

In [8]:
##Convert table data into a dataframe
df = pd.DataFrame(table[1:], columns=table[0])
df.head()

,source_system,source_code,source_display,target_system,target_code,target_display,concept_map_name,Term Type,Need Med Confirmation
0,http://snomed.info/sct,70965000,,,,,cds-imaging_code-emr-canonical,,
1,http://snomed.info/sct,276021005,,,,,cds-imaging_code-emr-canonical,,
2,http://snomed.info/sct,57902004,,,,,cds-imaging_code-emr-canonical,,
3,http://snomed.info/sct,711113005,,,,,cds-imaging_code-emr-canonical,,
4,http://snomed.info/sct,711113006,,,,,cds-imaging_code-emr-canonical,,